# Auto detect text files and perform LF normalization
* text=false

# Do not perform any line ending conversion for files in Data/zvs/lib1.res/ folder
*.ert -text
Data/zvs/lib1.res/*.txt -text

.gitignore export-ignore
.gitattributes export-ignore
.git*           export-ignore
